#comming lines just to ignore /cmder but  'track user_aliases.cmd' , bin/* only
#tried shortcuts but this only worked
tempCodeRunnerFile.java
cmder/opt
cmder/icons
cmder/vendor
cmder/cmder.exe
cmder/license
cmder/Version*
cmder/vlc-help.txt
cmder/config/*
!cmder/config/*.cmd
!cmder/bin/*
!C:\Users\OmarPc\repo_My_configs_cmder\cmder\vendor\conemu-maximus5\Logs\cmder_userconsole_log

